.custom__button {
    background-color: var(--Button-color);
    border: none;
    color: var(--Text-color);
    text-align: center;
    text-decoration: none;
    font-family: var(--Para-font);
    font-size: 1.5em;
    margin: 4px 2px;
    cursor: pointer;
    align-self: center;
}

.custom__button:hover {
    color: var(--Title-color);
}

/* .div__button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */