.form__login {
    background-color: rgba(245, 240, 246, 0.8);
    width: 60%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: var(--Text-color);
    font-family: var(--Para-font);
    font-size: 1.2em;
}

.form__login__email,
.form__login__password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.form__login__email input, 
.form__login__password input {
    border: 1px solid var(--Text-color);
}

.form__login__email label, 
.form__login__password label {
    margin-bottom: 10px;
    text-transform: uppercase;
}
