/* VARIABLE */ 
:root {
    --BG-color: #F5F0F6;
    --Title-color: #D7B377;
    --link-color: #35A7FF;
    --Text-color: #222222;
    --Title-font: 'Dancing Script', cursive;
    --Para-font: 'PT Sans Narrow', sans-serif;
}

body {
    background-color: var(--BG-color);
    height: 300vh;
}

/* NAVBAR */
.navbar__custom{
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: var(--BG-color);
    opacity: 0.8;
    font-family: var(--Para-font);
    font-size: 1.2em;
}

.nav__div__list li{
    margin: 0 10px 0 10px;
}

/* HEADER */
.header {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: absolute;
    background-image: url('../assets/salle.jpg');
}

.logo__header {
    max-width: 60%;
    min-width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
