@import "./style.css";

.button__custom {
    color: var(--Text-color);
    border-radius: 5px;
    border: none;
    padding: 5px;
    font-family: var(--Para-font);
    font-size: 0.8em;
    cursor: pointer;
}

.button__custom:hover {
    background-color: var(--link-color);
    color: var(--Text-color);
}

/***************START INDEX_ADMIN***************/
/* NAVBAR */
.header__custom {
    font-family: var(--Para-font);
}

.header__custom img {
    width: 60px;
}

.sidebar__custom {
    position: fixed;
    font-family: var(--Para-font);
    border: 1px solid var(--Text-color);
}

.navbar__footer__custom a,
.sidebar__custom a {
    font-size: 0.8em;
    color: var(--link-color);
}

.sidebar__custom p {
    font-size: 0.8em;
    color: var(--Title-color);
}

.siderbar__custom__left {
    background-color: var(--Text-color);
    height: 100vh;
}

.line-navbar {
    color: var(--Title-color);
}
/***************END INDEX_ADMIN***************/

/**************START DAY-MENU.php**************/
.section__gestion__day-menu {
    font-family: var(--Para-font);
    color: var(--Para-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section__gestion__day-menu h1,
.section__gestion__day-menu h2 {
    align-self: center;
    margin: 20px;
    text-decoration: underline;
}

/**************END DAY-MENU.php**************/

/**************START CARTE.PHP **************/
.section__gestion__carte {
    display: flex;
    font-family: var(--Para-font);
    color: var(--Para-color);
    flex-direction: column;
    justify-content: center;
}

.section__gestion__carte h1 {
    align-self: center;
    margin: 20px;
    text-decoration: underline;
}
/**************END CARTE.PHP **************/

/****************MEDIA QUERY****************/
@media screen and (max-width : 768px){
    .disable {
        display: none;
    }
}

/***************END MEDIA QUERY*************/