/* VARIABLE */ 
:root {
    --BG-color: #f5f0f6;
    --Title-color: #D7B377;
    --link-color: #35A7FF;
    --Text-color: #222222;
    --Title-font: 'Dancing Script', cursive;
    --Para-font: 'PT Sans Narrow', sans-serif;
    --border-radius-custom : 20px 20px 20px 20px;
    --box-shadow-custom : var(--Text-color) 0px 5px 15px
}

body {
    background-color: var(--BG-color);
}

.line {
    border: 1px solid var(--Title-color);
    margin: 15px;
}

.line__div {
    border: 1px solid var(--Title-color);
    margin: 15px;
    width: 80%;
}

.title__custom {
    color: var(--Title-color);
    font-family: var(--Title-font);
    font-size: 2em;
}

/* NAVBAR */
.navbar__custom{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba(245, 240, 246, 0.8);
    font-family: var(--Para-font);
    font-size: 1.2em;
}

.div__nav {
    position: relative;
}

/* HEADER */
.header {
    top: 0;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.logo__header {
    max-width: 50%;
    min-width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*******************************************START INDEX.PHP*******************************************/
/* SECTION INDEX */
.section__index {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px 5% 25px 5%;
}

.section__index h1{
    margin-bottom: 30px;
    
}

.carousel {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.carousel img {
    width: 150px;
    border-radius: var(--border-radius-custom);
    box-shadow: var(--box-shadow-custom);
}

.flocon{
    width: 2em;
}

.para__index{
    margin-top: 15px;
    font-family: var(--Para-font);
    font-size: 0.8em;
}

/* SECTION PRESENTATION */
.section__presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid: 10px;
}

.img__valou{
    width: 150px;
    border-radius: var(--border-radius-custom);
    box-shadow: var(--box-shadow-custom);
    margin: 15px;
}

.logo__maison{
    width: 100px;
    border-radius: var(--border-radius-custom);
}

.para__presentation{
    font-family: var(--Para-font);
    font-size: 1.2em;
    color: var(--Text-color);
    margin-top: 15px;
    padding-left: 5%;
    padding-right: 5%;
}

/* SECTION ACTU */
.section__actu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.para__actu{
    font-family: var(--Para-font);
    color: var(--Text-color);
    font-size: 1.2em;
    padding-left: 5%;
    padding-right: 5%;
}

.section__actu__img{
    display: flex;
    flex-direction: row;
}

.section__actu__img img{
    width: 80px;
}


/* SECTION HOURLY */
.section__hourly{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section__hourly h3{
    font-size: 1.3em;
    text-decoration: underline;
    font-family: var(--Para-font);
    color: var(--Text-color);
    margin-top: 15px;
}

.section__hourly p{
    font-family: var(--Para-font);
    color: var(--Text-color);
    font-size: 1.2em;
    padding: 0;
    margin: 0;
}

/* SECTION MAP */
.section__map{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section__map p{
    font-family: var(--Para-font);
    color: var(--Text-color);
    font-size: 1.2em;
    padding: 0;
    margin: 0;
}

.section__map__adress{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section__map iframe{
    margin-top: 15px;
    width: 90%;
    height: 250px;
}

/*******************************************END INDEX.PHP*******************************************/

/*******************************************START RESTAURANT.PHP*******************************************/
/* SECTION DAY MENU */
.section__day-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div__section__day-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div__section__day-menu p {
    margin: 0;
}

.day-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    background-color: var(--Title-color);
    width: 100%;
}

/* SECTION MENU */
.section__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}

.section__menu h3 {
    font-family: var(--Para-font);
    color: var(--Text-color);
}

h3::first-letter {
    text-transform: uppercase;
}
/*******************************************END RESTAURANT.PHP*******************************************/

/*******************************************START VENTE_EMPORTER.PHP*************************************/
.section__take-away, 
.section__buffet, 
.section__buffet__info, 
.section__take-away__info,
.section__private {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .section__take-away h2, 
.section__buffet h2, 
.section__private h2 {
    align-self: center;
} */

.section__take-away__div p, 
.section__buffet__div p,
.section__reservation__info p,
.section__private__info p {
    margin: 0;
}

.take-aways, 
.section__buffet__div,
.section__take-away__div,
.section__reservation,
.section__reservation__info,
.section__private__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--Text-color);
    font-family: var(--Para-font);
    font-size: 1em;
    margin: 20px 20px;
}

.section__take-away__images,
.section__buffet__info__images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.section__take-away__images img, 
.section__buffet__info__images img {
    width: 150px;
    height: 200px;
    border-radius: var(--border-radius-custom);
    box-shadow: var(--box-shadow-custom);
}

.section__buffet__info button,
.section__take-away__info button,
.section__buffet a, 
.section__private a{
    color: var(--link-color);
}

.section__private h3 {
    margin: 20px;
    font-size: 1.2em;
    font-family: var(--Para-font);
}


/*******************************************END VENTE_EMPORTER.PHP***************************************/

/***********************************START CAKE.PHP*****************************************************/
.section__cake {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.section__cake a{
    color: var(--link-color);
}

.section__cake h3 {
    font-family: var(--Para-font);
    color: var(--Text-color);
}

.section__cake__para {
    font-family: var(--Para-font);
    color: var(--Text-color);
    font-size: 1em;
}

.section__cake__citation {
    font-family: var(--Title-font);
    font-size: 1.2em;
}

/***********************************END CAKE.PHP*******************************************************/

/* FOOTER */
.footer {
    background-color: var(--Title-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0 0;
}

.footer__logo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}

.footer__logo__toogood, 
.footer__logo__trip {
    width: 10%;
    max-width: 60px;
}

.footer__logo__popotte {
    width: 15%;
}

.footer__info,
.footer__nav,
.footer__contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__info h4{
    font-family: var(--Para-font);
    color: var(--Text-color);
    font-size: 1em;
    text-decoration: underline;
    font-weight: bold;
}

.footer__info p, 
.footer__nav p,
.footer__contact p,
.copyright{
    font-family: var(--Para-font);
    color: var(--Text-color);
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.footer__description {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.footer__description div {
    border-top: 1px solid var(--Text-color);
    margin: 15px;

}

/* MEDIA QUERIES */
@media screen and (min-width: 720px) {
    /****************************************START INDEX.PHP************************************/
    /* SECTION INDEX */
    .title__custom {
        font-size: 2.5em;
    }
    .carousel {
        flex-direction: row;
        gap: 20px;
        margin-bottom: 20px;
    }
    .carousel img {
        width: 200px;
    }
    
    /* SECTION PRESENTATION */
    .img__valou{
        width: 200px;
    }
    
    /* SECTION ACTU */
    .section__actu__img img{
        width: 100px;
    }
    .para__actu{
        padding-left: 25%;
        padding-right: 25%;
    }
    
    /* SECTION MAP */
    .section__map iframe{
        width: 80%;
        height: 350px;
    }
    /************************************************END INDEX.PHP******************************/

    /************************************START VENTE_EMPORTER.PHP*******************************/
    .section__take-away__images,
    .section__buffet__info__images{
        flex-direction: row;
    }

    /************************************END VENTE_EMPORTER.PHP*******************************/

    /* FOOTER */
    .footer__info h4 {
        font-size: 1.2em;
    }
    .footer__info p, 
    .footer__nav p,
    .footer__contact p{
        font-size: 1em;
    }
}

@media screen and (min-width: 1100px) {
    /* FLUX */
    .flux {
        width: 100%;
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
    }

    /*******************************************START INDEX.PHP***************************************/
    /* SECTION INDEX */
    .title__custom {
        font-size: 3em;
    }
    .carousel img{
        width: 300px;
    }
    .para__index{
        font-size: 1em;
    }

    /* SECTION PRESENTATION */
    .section__presentation {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .img__valou{
        width: 250px;
    }
    .logo__maison{
        width: 150px;
        margin-left: 30px;
    }
    .para__presentation{
        font-size: 1.4em;
    }

    /* SECTION ACTU */
    .section__actu__img img{
        width: 150px;
    }
    .para__actu{
        font-size: 1.4em;
        padding-left: 25%;
        padding-right: 25%;
    }

    /* SECTION HOURLY */
    .section__hourly h3{
        font-size: 1.5em;
    }
    .section__hourly p{
        font-size: 1.4em;
    }

    /* SECTION MAP */
    .section__map__adress iframe{
        width: 60%;
        height: 450px;
    }
    .section__map p{
        font-size: 1.4em;
    }
    .section__map__adress{
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }

    /*******************************************END INDEX.PHP**************************************/

    /*******************************************START VENTE_EMPORTER.PHP********************************/
    .section__take-away__info, 
    .take-aways, 
    .section__buffet__div,
    .section__take-away__div,
    .section__reservation,
    .section__reservation__info {
        font-size: 1.2em;
    }
    
    .section__take-away__images img, 
    .section__buffet__info__images img {
        width: 250px;
        height: 300px;
    }
    /*******************************************END VENTE_EMPORTER.PHP**********************************/
    /* FOOTER */
    .footer__description {
        grid-template-columns: repeat(3, 1fr);
    }
    .footer__info, 
    .footer__nav{
        border-right: 1px solid var(--Text-color);
        width: 100%;
        height: 100%;
    }

    .footer__contact{
        width: 100%;
        height: 100%;
    }

    .footer__description div {
        border-top: none;
    }
}